:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

main {
  width: 50vw;
  max-width: 940px;
  margin: 0 auto;
}

ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(80px, 1fr));
  /* grid-template-columns: repeat(auto-fit, minmax(80px, 1fr)); */
  /* grid-template-columns: repeat(auto-fill, 25vw); */
  /* grid-template-columns: minmax(100px, max-content) repeat(auto-fill, 250px) 100%; */
  /* grid-template-columns: 200px repeat(auto-fill, 100px) 300px; */
  /* grid-template-columns: repeat(4, 1fr) minmax(auto, max-content); */
  /* grid-template-rows: 200px repeat(auto-fill, 100px) 300px; */
  grid-auto-flow: dense;
  grid-row-gap: 0;
  justify-items: flex-start;
  align-items: flex-start;
}

li {
  /* border: 6px solid black; */
  /* display: flex;
  width: fit-content; */
}

img {
  border: 6px solid black;
}

li.image-1 {
  grid-column: span 3;
}

li.image-2 {
  grid-column: span 3;
}

li.image-3 {
  position: relative;
  grid-column: span 2;
}
/*
li.image-4 {
  grid-column: span 3;
} */

li.image-6 {
    grid-column: span 3;
    right: 0rem;
    position: relative;

}

li.image-20 {
  grid-column: span 3;
}

/* li:nth-child(4) {
  grid-column: span 3;
} */
